# Build and Debug folders
/build/
/debug/
/release/
/.settings/
/Debug/
/Release/

# IDE specific
/.vscode/
/.cproject
/.project
/.settings/
*.launch

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug files
*.dSYM/
*.su
*.idb
*.pdb